# AWS - RDS MySQL
### Paquetes requeridos
Librería de Python necesaria para establecer conexión a una base de datos MySQL

### Credenciales
Para acceder a la BD necesitaremos tres datos:
1. Endpoint/host: la dirección donde se encuentra el servidor
2. Usuario
3. Contraseña

In [34]:
username = "admin"
password = "TheBridgeSchool"
host = "database-2.cvuovpb4vssk.us-east-2.rds.amazonaws.com" 
port = 3306

### Conexion BD

In [35]:
import pymysql
import cryptography

In [36]:
'''
pymysql.cursors.DictCursor para que los resultados que devuelva sean diccionarios,
por defecto devuelve tuplas. Asi podemos acceder por clave a las columnas.
'''

db = pymysql.connect(host = host,
                     user = username,
                     password = password,
                     cursorclass = pymysql.cursors.DictCursor
)

# El objeto cursor es el que ejecutará las queries y devolverá los resultados

cursor = db.cursor()

### Version DB

In [37]:
'''
Este es el engine version de la BD de AWS
fechtone trae la primera linea de la consulta
El execute() devuelve el numero de filas a las que ha afectado la query,
en este caso, devuelve una unica fila.

Execute se guarda en la conexion pero hasta que no hacemos commit
no se ejecutan las queries
de insert de datos y esas cosas...
'''

cursor.execute('SELECT VERSION()')
version = cursor.fetchone()
print(f'MySQL version: {version}')

MySQL version: {'VERSION()': '8.0.28'}

### Creación de DB

In [55]:
# Creamos una BD. Tenemos una instancia de MySQL, pero no una BD
# Los comandos de SQL  se suelen poner en mayuscula
create_db = '''CREATE DATABASE tweets_TheBridge'''
cursor.execute(create_db)

1

In [54]:
# Podemos eliminar la BD
drop_db = '''DROP DATABASE tweets_TheBridge'''
cursor.execute(drop_db)

2

In [56]:
cursor.execute('SHOW DATABASES')
cursor.fetchall()

[{'Database': 'information_schema'},
 {'Database': 'mysql'},
 {'Database': 'performance_schema'},
 {'Database': 'respuestas_GPT'},
 {'Database': 'sys'},
 {'Database': 'tweets_TheBridge'}]

### Creación de tablas

### Seleccionar la BD

In [57]:
# Para usar la BD  recien creada

cursor.connection.commit()
use_db = ''' USE tweets_TheBridge'''
cursor.execute(use_db)

0

In [59]:
# Create two normalized tables, tweets and users
create_table = '''
CREATE TABLE users (
    author_id INTEGER
)
'''
cursor.execute(create_table)

0

In [61]:
# Create two normalized tables, tweets and users

create_table = '''
CREATE TABLE tweets (
  author_id INT,
  created_at TEXT,
  id INT,
  text INT,
  impression_count INT,
  like_count INT,
  quote_count INT,
  reply_count INT,
  retweet_count INT
)

'''
cursor.execute(create_table)

0

In [62]:
# checkear todas las tablas que tiene mi db
cursor.execute('SHOW TABLES')
cursor.fetchall()

[{'Tables_in_tweets_TheBridge': 'tweets'},
 {'Tables_in_tweets_TheBridge': 'users'}]

### Insertar datos

In [12]:
insert_data = '''
INSERT INTO country (name, continent, population, gdp)
VALUES ('Spain', 'Europe', 47, 1.74)
'''
cursor.execute(insert_data)

1

In [64]:
import pandas as pd

In [65]:

df = pd.read_csv('../data/tweets_23&23_@TheBridge.csv', index_col=0)
df.head()

,author_id,created_at,id,text,impression_count,like_count,quote_count,reply_count,retweet_count
0,1151510939105144834,2022-12-29T16:39:19.000Z,1608502937332113408,Empieza el año formándote en una de las profes...,113,4,0,0,1
1,570795448,2022-12-29T12:52:11.000Z,1608445776732246017,Los 4 bootcamps tecnológicos de EDEM y @TheBri...,124,2,0,0,0
2,1128860148,2022-12-29T09:16:11.000Z,1608391421014196224,@EDEMempresarios acoge el 12 de enero un Open ...,49,2,0,0,0
3,570795448,2022-12-27T09:00:57.000Z,1607662809575292929,Si estás buscando una profesión que te cambie ...,218,5,0,0,0
4,1162694149956603904,2022-12-23T12:54:06.000Z,1606271930763354112,En @TheBridge_Tech tenemos un deseo para ti💫\n...,120,1,0,0,1

In [48]:
len(df['id'].unique())

149

In [66]:
username = "admin"
password = "TheBridgeSchool"
host = "database-2.cvuovpb4vssk.us-east-2.rds.amazonaws.com" 
port = 3306

In [14]:
insert_data = '''
INSERT INTO country (name, continent, population, gdp)
VALUES ('%s', '%s', '%s', '%s')
''' % (name,continent,population,gdp)

cursor.execute(insert_data)

1

### Leer datos

In [15]:
sql = '''SELECT * FROM country'''
cursor.execute(sql)

2

In [16]:
mi_lista = cursor.fetchall()
len(mi_lista)

2

In [17]:
mi_lista

[{'id': 1,
  'name': 'Spain',
  'continent': 'Europe',
  'population': 47,
  'gdp': 1.74},
 {'id': 2,
  'name': 'France',
  'continent': 'Europe',
  'population': 54,
  'gdp': 2.0}]

### Guardar los cambios
Hay que ejecutar el commit antes de cerrar la sesión de la BD para que se guarden todos los cambios

In [75]:
db.commit()

### Excepciones
Se recomienda rodear este tipo de sentencias con un try/except, ya que suele ser software productivo y tiene que saber manejar fallos

In [76]:
sql = '''SELECT * FROM tweets'''
cursor.execute(sql)
print(cursor.fetchall())
print('Proceso finalizado')

[{'author_id': 2147483647, 'created_at': '2022-12-29T16:39:19.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 113, 'like_count': 4, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 570795448, 'created_at': '2022-12-29T12:52:11.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 124, 'like_count': 2, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 1128860148, 'created_at': '2022-12-29T09:16:11.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 49, 'like_count': 2, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 570795448, 'created_at': '2022-12-27T09:00:57.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 218, 'like_count': 5, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2022-12-23T12:54:06.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 120, 'like_count': 1, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 2147483647, 'created_at': '2022-12-22T23:51:18.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 108, 'like_count': 3, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2022-12-22T09:59:38.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 142, 'like_count': 2, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2022-12-22T08:55:25.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 308, 'like_count': 4, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 4}, {'author_id': 1175646685, 'created_at': '2022-12-21T13:15:56.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 321, 'like_count': 7, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 402013017, 'created_at': '2022-12-21T12:30:01.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 538, 'like_count': 5, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 2}, {'author_id': 1128860148, 'created_at': '2022-12-21T11:34:12.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 149, 'like_count': 4, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 570795448, 'created_at': '2022-12-21T10:12:46.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 329, 'like_count': 6, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 3}, {'author_id': 2147483647, 'created_at': '2022-12-16T10:45:37.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 26, 'like_count': 1, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2022-12-13T18:53:22.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 2, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2022-12-13T08:12:57.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 4, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 4}, {'author_id': 108885393, 'created_at': '2022-12-12T08:15:33.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 3, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2022-12-07T15:07:46.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 1, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 49219057, 'created_at': '2022-12-06T18:40:34.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 1, 'quote_count': 1, 'reply_count': 1, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2022-12-06T10:00:16.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 3, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 146406912, 'created_at': '2022-12-05T18:21:51.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 1, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2022-12-05T14:00:20.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 7, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 2}, {'author_id': 2147483647, 'created_at': '2022-12-03T14:08:46.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 5, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 4}, {'author_id': 108885393, 'created_at': '2022-12-02T08:40:07.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 4, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 2147483647, 'created_at': '2022-12-01T16:54:08.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 4, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2022-12-01T16:01:03.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 0, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2022-12-01T15:58:32.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 3, 'quote_count': 0, 'reply_count': 1, 'retweet_count': 2}, {'author_id': 2147483647, 'created_at': '2022-12-01T13:17:27.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 3, 'quote_count': 1, 'reply_count': 0, 'retweet_count': 3}, {'author_id': 2147483647, 'created_at': '2022-12-01T12:45:37.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 5, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 5}, {'author_id': 2147483647, 'created_at': '2022-12-01T02:29:27.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 2, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 2}, {'author_id': 146406912, 'created_at': '2022-11-30T15:55:35.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 0, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 146406912, 'created_at': '2022-11-30T15:55:34.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 0, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 146406912, 'created_at': '2022-11-30T15:55:34.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 0, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 1951117790, 'created_at': '2022-11-30T12:39:00.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 9, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 5}, {'author_id': 2147483647, 'created_at': '2022-11-30T09:45:27.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 5, 'quote_count': 3, 'reply_count': 0, 'retweet_count': 3}, {'author_id': 2147483647, 'created_at': '2022-11-30T09:45:04.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 5, 'quote_count': 1, 'reply_count': 0, 'retweet_count': 2}, {'author_id': 2147483647, 'created_at': '2022-11-30T09:43:54.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 4, 'quote_count': 1, 'reply_count': 0, 'retweet_count': 2}, {'author_id': 2147483647, 'created_at': '2022-11-30T09:33:32.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 3, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 2147483647, 'created_at': '2022-11-30T09:32:30.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 4, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 3}, {'author_id': 2147483647, 'created_at': '2022-11-30T09:09:45.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 4, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 2}, {'author_id': 2147483647, 'created_at': '2022-11-30T09:06:45.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 4, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 2}, {'author_id': 2147483647, 'created_at': '2022-11-30T08:53:19.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 3, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 2147483647, 'created_at': '2022-11-30T08:51:00.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 3, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 2}, {'author_id': 2147483647, 'created_at': '2022-11-30T08:43:35.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 3, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 2147483647, 'created_at': '2022-11-30T08:41:37.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 5, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 2147483647, 'created_at': '2022-11-30T08:25:38.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 2, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2022-11-30T08:21:21.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 2, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 2}, {'author_id': 2147483647, 'created_at': '2022-11-30T08:13:41.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 2, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 2147483647, 'created_at': '2022-11-30T08:10:23.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 4, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 2}, {'author_id': 378449449, 'created_at': '2022-11-29T16:21:33.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 3, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 2147483647, 'created_at': '2022-11-29T16:18:50.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 1, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2022-11-29T10:49:52.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 3, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 3}, {'author_id': 137698811, 'created_at': '2022-11-29T10:31:58.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 2, 'quote_count': 1, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 2147483647, 'created_at': '2022-11-29T07:18:02.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 5, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 5}, {'author_id': 2147483647, 'created_at': '2022-11-28T14:17:28.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 1, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 2147483647, 'created_at': '2022-11-28T08:12:55.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 2, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 2147483647, 'created_at': '2022-11-24T12:15:15.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 4, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 3}, {'author_id': 2147483647, 'created_at': '2022-11-23T10:13:36.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 3, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 4}, {'author_id': 2147483647, 'created_at': '2022-11-22T08:18:42.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 3, 'quote_count': 0, 'reply_count': 1, 'retweet_count': 1}, {'author_id': 2147483647, 'created_at': '2022-11-22T08:05:10.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 2, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 2147483647, 'created_at': '2022-11-22T08:01:31.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 0, 'like_count': 2, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 2}, {'author_id': 2147483647, 'created_at': '2023-03-07T17:16:14.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 357, 'like_count': 8, 'quote_count': 1, 'reply_count': 0, 'retweet_count': 3}, {'author_id': 2147483647, 'created_at': '2023-03-06T10:38:30.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 31, 'like_count': 0, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2023-03-06T10:38:30.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 950, 'like_count': 5, 'quote_count': 1, 'reply_count': 1, 'retweet_count': 3}, {'author_id': 41545659, 'created_at': '2023-03-06T08:48:56.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 90, 'like_count': 3, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 2147483647, 'created_at': '2023-03-04T22:32:56.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 35, 'like_count': 1, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 276656109, 'created_at': '2023-03-04T14:08:54.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 28, 'like_count': 2, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 1003872445, 'created_at': '2023-03-04T11:22:58.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 1068, 'like_count': 9, 'quote_count': 1, 'reply_count': 1, 'retweet_count': 3}, {'author_id': 763727449, 'created_at': '2023-03-03T15:13:49.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 10, 'like_count': 0, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2023-03-03T10:26:54.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 45, 'like_count': 0, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2023-03-03T10:22:22.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 442, 'like_count': 11, 'quote_count': 1, 'reply_count': 0, 'retweet_count': 4}, {'author_id': 2147483647, 'created_at': '2023-03-03T06:54:01.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 73, 'like_count': 0, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2023-03-03T05:33:19.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 182, 'like_count': 2, 'quote_count': 0, 'reply_count': 2, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2023-03-02T10:44:35.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 2331, 'like_count': 21, 'quote_count': 1, 'reply_count': 2, 'retweet_count': 11}, {'author_id': 2147483647, 'created_at': '2023-03-01T07:24:05.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 12, 'like_count': 0, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 67324480, 'created_at': '2023-02-28T10:24:35.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 7, 'like_count': 0, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 1685197165, 'created_at': '2023-02-17T13:30:41.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 58, 'like_count': 2, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 1685197165, 'created_at': '2023-02-17T13:28:00.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 53, 'like_count': 2, 'quote_count': 0, 'reply_count': 1, 'retweet_count': 0}, {'author_id': 1685197165, 'created_at': '2023-02-17T13:26:43.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 52, 'like_count': 2, 'quote_count': 0, 'reply_count': 1, 'retweet_count': 0}, {'author_id': 1685197165, 'created_at': '2023-02-17T13:25:58.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 72, 'like_count': 2, 'quote_count': 0, 'reply_count': 1, 'retweet_count': 0}, {'author_id': 1685197165, 'created_at': '2023-02-17T13:23:22.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 51, 'like_count': 0, 'quote_count': 0, 'reply_count': 1, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2023-02-16T17:07:33.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 605, 'like_count': 10, 'quote_count': 0, 'reply_count': 1, 'retweet_count': 5}, {'author_id': 1003872445, 'created_at': '2023-02-16T09:51:54.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 243, 'like_count': 4, 'quote_count': 0, 'reply_count': 1, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2023-02-16T06:07:55.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 28, 'like_count': 1, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2023-02-15T11:06:22.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 762, 'like_count': 10, 'quote_count': 0, 'reply_count': 1, 'retweet_count': 2}, {'author_id': 2147483647, 'created_at': '2023-02-13T13:36:10.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 204, 'like_count': 2, 'quote_count': 1, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 106344840, 'created_at': '2023-02-07T09:51:05.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 421, 'like_count': 6, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 2}, {'author_id': 2147483647, 'created_at': '2023-02-06T19:39:50.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 52, 'like_count': 3, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2023-02-03T06:32:08.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 275, 'like_count': 2, 'quote_count': 0, 'reply_count': 1, 'retweet_count': 1}, {'author_id': 2147483647, 'created_at': '2023-02-02T17:38:37.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 80, 'like_count': 1, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2023-02-02T17:37:03.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 30, 'like_count': 0, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 10279282, 'created_at': '2023-02-02T17:32:09.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 50, 'like_count': 0, 'quote_count': 0, 'reply_count': 1, 'retweet_count': 0}, {'author_id': 112458375, 'created_at': '2023-02-02T09:46:33.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 118, 'like_count': 4, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 2}, {'author_id': 207894341, 'created_at': '2023-02-02T09:41:59.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 416, 'like_count': 3, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 3}, {'author_id': 2147483647, 'created_at': '2023-02-02T08:44:00.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 226, 'like_count': 6, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 4}, {'author_id': 2147483647, 'created_at': '2023-02-01T10:56:22.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 33, 'like_count': 2, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2023-01-31T17:39:02.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 35, 'like_count': 2, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2023-01-31T17:35:11.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 45, 'like_count': 3, 'quote_count': 0, 'reply_count': 2, 'retweet_count': 0}, {'author_id': 55539458, 'created_at': '2023-01-30T09:45:55.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 4, 'like_count': 0, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 550417439, 'created_at': '2023-01-28T07:30:07.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 969, 'like_count': 5, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1}, {'author_id': 1101664008, 'created_at': '2023-01-27T16:06:53.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 124, 'like_count': 1, 'quote_count': 0, 'reply_count': 1, 'retweet_count': 1}, {'author_id': 550417439, 'created_at': '2023-01-27T16:00:08.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 511, 'like_count': 2, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 2147483647, 'created_at': '2023-01-27T14:08:51.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 99, 'like_count': 3, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0}, {'author_id': 550417439, 'created_at': '2023-01-27T11:15:00.000Z', 'id': 2147483647, 'text': 0, 'impression_count': 328, 'like_count': 1, 'quote_count'

### Insertar datos de un CSV

In [67]:
df_users = pd.DataFrame(df['author_id'])
df_users

               author_id
0    1151510939105144834
1              570795448
2             1128860148
3              570795448
4    1162694149956603904
..                   ...
144            271028835
145  1530194743786881024
146             10279282
147           2402179123
148   874916978665938945

[149 rows x 1 columns]

In [34]:
df = pd.read_csv('../data/tweets_23&23_@TheBridge.csv', index_col=0)
df

,author_id,created_at,id,text,impression_count,like_count,quote_count,reply_count,retweet_count
0,1151510939105144834,2022-12-29T16:39:19.000Z,1608502937332113408,Empieza el año formándote en una de las profes...,113,4,0,0,1
1,570795448,2022-12-29T12:52:11.000Z,1608445776732246017,Los 4 bootcamps tecnológicos de EDEM y @TheBri...,124,2,0,0,0
2,1128860148,2022-12-29T09:16:11.000Z,1608391421014196224,@EDEMempresarios acoge el 12 de enero un Open ...,49,2,0,0,0
3,570795448,2022-12-27T09:00:57.000Z,1607662809575292929,Si estás buscando una profesión que te cambie ...,218,5,0,0,0
4,1162694149956603904,2022-12-23T12:54:06.000Z,1606271930763354112,En @TheBridge_Tech tenemos un deseo para ti💫\n...,120,1,0,0,1
...,...,...,...,...,...,...,...,...,...
144,271028835,2023-01-07T19:55:52.000Z,1611813891322908672,🚀 @EDEMempresarios y @TheBridge_Tech se alía...,166,7,0,0,2
145,1530194743786881024,2023-01-06T12:28:27.000Z,1611338908196913153,Gracias a nuestros amigos @TheBridge_Tech por ...,51,2,0,0,0
146,10279282,2023-01-04T15:02:11.000Z,1610652818234347521,¿Te interesa el diseño de #producto digital? V...,82,3,0,0,2
147,2402179123,2023-01-04T11:57:41.000Z,1610606391445815297,¡Empezamos el año con una #masterclass de #uxu...,116,3,0,0,2
148,874916978665938945,2023-01-02T15:15:00.000Z,1609931268921114627,🤝 @EDEMempresarios se alía con @TheBridge_Tech...,593,5,0,0,1

In [68]:
from sqlalchemy import create_engine

# create sqlalchemy engine

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(user = username, pw = password, host = host, db = 'tweets_TheBridge'))
# engine = create_engine("mysql+pymysql://my_user:my_password@my_host/my_database")

In [70]:
# insertamos todo el dataframe en users
df_users.to_sql(name='users', con=engine, if_exists= 'append', index=False)

In [42]:
len(df['id'].unique())

149

In [72]:
# df into tweets tables
df.to_sql(name='tweets', con=engine, if_exists= 'append', index=False)

In [26]:
db.commit()

In [78]:
# leemos los datos para comprobar que se han ingestado correctamente
sql = '''SELECT * FROM users'''
cursor.execute(sql)
mi_tabla = cursor.fetchall()
mi_tabla

[{'author_id': 2147483647},
 {'author_id': 570795448},
 {'author_id': 1128860148},
 {'author_id': 570795448},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 1175646685},
 {'author_id': 402013017},
 {'author_id': 1128860148},
 {'author_id': 570795448},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 108885393},
 {'author_id': 2147483647},
 {'author_id': 49219057},
 {'author_id': 2147483647},
 {'author_id': 146406912},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 108885393},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 146406912},
 {'author_id': 146406912},
 {'author_id': 146406912},
 {'author_id': 1951117790},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 378449449},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 137698811},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 41545659},
 {'author_id': 2147483647},
 {'author_id': 276656109},
 {'author_id': 1003872445},
 {'author_id': 763727449},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 67324480},
 {'author_id': 1685197165},
 {'author_id': 1685197165},
 {'author_id': 1685197165},
 {'author_id': 1685197165},
 {'author_id': 1685197165},
 {'author_id': 2147483647},
 {'author_id': 1003872445},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 106344840},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 10279282},
 {'author_id': 112458375},
 {'author_id': 207894341},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 55539458},
 {'author_id': 550417439},
 {'author_id': 1101664008},
 {'author_id': 550417439},
 {'author_id': 2147483647},
 {'author_id': 550417439},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 106344840},
 {'author_id': 41545659},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 550417439},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 91876265},
 {'author_id': 1003872445},
 {'author_id': 1003872445},
 {'author_id': 7154412},
 {'author_id': 866742930},
 {'author_id': 7154412},
 {'author_id': 17287251},
 {'author_id': 17287251},
 {'author_id': 7154412},
 {'author_id': 141272779},
 {'author_id': 17287251},
 {'author_id': 417307513},
 {'author_id': 141272779},
 {'author_id': 17287251},
 {'author_id': 212364786},
 {'author_id': 2147483647},
 {'author_id': 7154412},
 {'author_id': 1232105203},
 {'author_id': 2147483647},
 {'author_id': 163586106},
 {'author_id': 41545659},
 {'author_id': 41545659},
 {'author_id': 41545659},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 2147483647},
 {'author_id': 1003872445},
 {'author_id': 570795448},
 {'author_id': 271028835},
 {'author_id': 2147483647},
 {'author_id': 10279282},
 {'author_id': 2147483647},
 {'author_id': 2147483647}]

In [29]:
pd.DataFrame(mi_tabla)

   id       name continent  population   gdp
0   1      Spain    Europe          47  1.74
1   2     France    Europe          54  2.00
2   3    Germany    Europe          80  4.30
3   4      Japan      Asia         126  4.90
4   5  Argentina   America          44  0.50
5   6     Brasil   America         209  1.60

### Cerrar la conexión cuando acabemos

In [79]:
# Cerrar conexión mysql
db.close()
# Cerrar conexión sqlalchuemy
engine.dispose()